@font-face {
    font-family: "Ambroise-Francois-Bold";
    src: url("../assets/fonts/Ambroise-Francois-Bold.otf");
}
@font-face {
    font-family: "NeueHaasDisplayLight";
    src: url("../assets/fonts/NeueHaasDisplayLight.ttf");
}
@font-face {
    font-family: "NeueHaasDisplayRoman";
    src: url("../assets/fonts/NeueHaasDisplayRoman.ttf");
}
@font-face {
    font-family: "NeueHaasDisplayBold";
    src: url("../assets/fonts/NeueHaasDisplayBold.ttf");
}